.counter-card{
  //padding: 30px !important;
}

.card-avatar{
  color: #fff !important;
  background: linear-gradient(310deg, #be936f,#d6bca6,#d6bca6);
}

.bg-gradient-blue{
  color: #fff !important;
  background: linear-gradient(310deg, #be936f,#d6bca6,#d6bca6);
  /* #7985af,#c8cedf */
}
